# Read Google Spreadsheets from Python - no Google API Auth

## Import Libraries

In [4]:
import pandas as pd

## Assembling the variables

In [10]:
document_id = "678Iyi07Ihshdc5d6yNp8XmprV77zeiED9P6TpWG9hp1g"
tab_name = "Sheet1"
full_url = f"https://docs.google.com/spreadsheets/d/{document_id}/gviz/tq?tqx=out:csv&sheet={tab_name}"

## Retrieving the data into a dataframe

In [11]:
df = pd.read_csv(full_url)

## Printing results

In [12]:
df.head()

    Name    Last Company
0  Peter  Parker  Marvel
1  Diana  Prince      DC
2  Barry   Allen      DC
3  Steve  Rogers  Marvel